/**
 * 
 * KiteSSH - An SSH, SFTP, SCP and P2P client or Windows
 * 
 * UNIVERSITY OF WOLLONGONG - CSIT321 [Project]
 * 
 * GROUP: FYP-20-S3-10 - EFFICIENT SSH TUNNELING
 * 
 * MEMBERS:
 * 
 * Fratini Luca Project Manager lucafratini94@gmail.com
 * Maurice Rizat Kasomwung Backend Programmer mauricerizat@gmail.com
 * Lim Wei Zhi Maximillian Frontend Programmer azure.marine1@gmail.com
 * Chua Man Fu UI/UX Designer manfularry35@gmail.com
 * Pang Chun Weng Software Tester pangchunweng1993@gmail.com
 * 
 * SUPERVISOR: Japit Sionggo
 * ASSESSOR: Tian Sion Hui
 * 
 * VERSION: 1.0
 * DATE: November 2020
 *  
 */
.text-area {
    -fx-background-color :  #cce6ff;
}
.text-area .scroll-pane {
    -fx-background-color : transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color : transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color : transparent;
}

.terminal
{
    -fx-text-fill: white;
    -fx-background-color: black;
}
